__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/

# data / artifacts
*.csv
*.pkl
lightning_logs/
**/*.ckpt
!train_data.csv
!val_data.csv
!test_data.csv
!sample_submission.csv
!submission.csv
!training_curves.png
!selected_families.pkl
